{% extends "base.html" %}
{% block title %}Mes pensées - {{ SITENAME }}{% endblock title %}
{% block content %}
<div class="pure-g">
<div class="pure-u-5-5">
	<h2>Tous les articles</h2>
	<p><a href="{{ SITEURL }}/archives.html">(Voir les archives)</a></p>
</div>
{% for article in articles_page.object_list %}
	<div class="pure-u-5-5 article">
		<h3 class="blog-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
		<p class="blog-infos">Par 
		{% for author in article.authors %}
			<a href="{{ SITEURL }}/{{ author.url }}">{{ author.name }} </a>
		{% endfor %}
		{% if category %}
		 - <a href="{{ SITEURL }}/{{ category.url }}">{{ category.name }}</a>
		 {% endif %}
		 - {{ article.locale_date }}
		</p>
		{{ article.content }}
	</div>
{% endfor %}
</div>

{% if articles_page.has_other_pages() %}
		{% include 'pagination.html' %}
{% endif %}
{% endblock content %}
