a{
	text-decoration: none;
	color: inherit;
}

body{
	font-family: carlito, serif;
	background-color: #f94342;
	color: #f5e586;
	padding: 0px;
	width: 900px;
	margin: auto;
}

header{
	height: 500px;
	background:  url('/theme/images/bandeau-800px.png') no-repeat center;
}

nav ul li{
	list-style-type: none;
	float: left;
	width: 20%;
	text-align: center;
}

nav ul{
	margin: -70px 0px 70px 0px;	
	overflow: auto;
	width: 100%;
}

section h1, footer h1{
	text-align: center;
	margin: 0px;
	padding-top: 30px;
}

section h2{
	font-size: 0.9em;
	text-align: center;
}

section ul{
	margin: auto;
	width: 90%;
	padding: 15px 25px 15px 25px;
	background: #d73d3d;
	color: #f5e586;
}

section li{
	list-style-type: none;
}

section{
	padding: 0px 0px 10px 0px;
	margin: 10px 0px 10px 0px;
}

section a{
	display: block;
	width: 100%;
	text-align: right;
}

section blockquote{
	text-align: center;
	font-style: italic;
}

section p{
	padding: 0px 30px 0px 30px;
}
section.impair{
	background: #f5e586;
	color: #f94342;
}

section.pair{
	background: #d73d3d;
}

footer{
	text-align: center;
	padding-bottom: 30px;
}

